[user]
noWindowsListIfSingle=true
showPreviews=true
middleButtonBehavior=1
showWindowCount=false
forceIconSize=false
pinned=google-chrome;xfce4-terminal;org.keepassxc.KeePassXC;code;virtualbox;
indicatorColorFromTheme=false
inactiveIndicatorStyle=2
indicatorStyle=0
