[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tomek/Desktop/chrome-bbdeiblfgdokhlblpgeaokenkfknecgl-Default.desktop]
row=2
col=0

[/home/tomek/Desktop/chrome-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/home/tomek]
row=1
col=0

